<% include('partials/header') %>
<h2>Signup</h2>
<form action="/api/users/signup" method="POST">
    <label for="email">Email:</label>
    <input type="email" name="email" required>
    <label for="password">Password:</label>
    <input type="password" name="password" required>
    <button type="submit">Signup</button>
</form>
<% include('partials/footer') %>
