body {
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    height: 100vh;
}

.left, .right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    color: white;
}

.left {
    background-color: #333;
}

.right {
    background-color: #0f0;
}

button {
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    background-color: white;
    color: #333;
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form input {
    margin: 10px 0;
    padding: 10px;
    width: 100%;
}

form button {
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    background-color: white;
    color: #333;
    cursor: pointer;
}
