*{
    margin: 0;
    padding: 0;

}
body{
    background-color: rgb(77, 74, 74);
}
table,td,th{
    border: 1px solid #000000;
}
table{
    border-collapse: collapse;
    width: 100%;
    background-color: rgb(128, 128, 128);
    color: rgb(245, 245, 240);
    margin-top: 200px;
    width: 70%;
    margin-left: 200px;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    border: 3px solid #000000;

}
td{
    height: 50px;
}
tr{
    height: 50px;
}