*{
    margin: 0;
    padding: 0;
}
table,td,th{
    border: 1px solid;
}
table{
    border-collapse: collapse;
    width: 100%;
    background-color: grey;
    color: beige;
    margin-top: 90px;

}
td{
    height: 50px;
}